* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #32a4a8;
}

.btn {
  font-family: 'Montreserrat';
  font-size: 40px;
  color: rgb(194, 151, 78);
  background-color: #addadb;
  border: 2px solid #addadb;
  border-radius: 3px;
  box-shadow: 0 12px yellow, 0 18px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  top: 0;
  width: 90px;
  height: 80px;
  margin: 15px;
  padding: 5px;
  vertical-align: top;
}

.btn:hover {
  transition: 0.4s;
  background-color: #ddc525;
  color: blue;
  top: 4px;
  box-shadow: 0 8px yellow, 0 14px rgba(0, 0, 0, 0.5);
}

.btn:active {
  transition: 0.4s;
  top: 8px;
  box-shadow: 0 4px rgba(255, 255, 0, 0.786), 0 10px rgba(0, 0, 0, 0.5);
}

.game {
  display: flex;
  flex-wrap: wrap;
}

.row {
  background-color: #282c34;
  height: 100%;
  width: 100%;
  padding-bottom: 18px;
}

.game-info {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin-left: 20px;
  width: 200px;
}

.game-info button {
  background-color: rgb(138, 222, 58);
  border: 2px solid rgb(241, 200, 51);
  height: 40px;
  border-radius: 5px;
  color: #131925;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
}

.game-info button:hover {
  background-color: rgb(138, 250, 58);
}

.game-info button:active {
  background-color: rgb(218, 183, 12);
}

.game-info p {
  font-size: 30px;
}
